.result {
    border: 0;

    margin: calc(1.5*var(--universal-margin)) 0 !important;
    /* padding: calc(2*var(--universal-margin)) 0 0 0 !important; */
    
    border-top: 0.06rem solid var(--border-color) !important;
    border-bottom: 0.06rem solid var(--border-color) !important;
}

.dimension {
    margin: calc(0.8*var(--universal-margin)) calc(0.8*var(--universal-margin)) 0 calc(0.8*var(--universal-margin)) !important;
    padding: calc(0.5*var(--universal-margin)) !important;
    font-size: calc(2.5rem * var(--heading-ratio)) !important;
}

.shaded {
    background-color: #f8fafc;
    font-size: .75rem;
    line-height: 1.5;
}

span.icon-heart {
    background-image: url("data:image/svg+xml,%3Csvg%20class%3D%22feather%20feather-heart%20sc-dnqmqq%20jxshSx%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20aria-hidden%3D%22true%22%20data-reactid%3D%22631%22%3E%3Cpath%20d%3D%22M20.84%204.61a5.5%205.5%200%200%200-7.78%200L12%205.67l-1.06-1.06a5.5%205.5%200%200%200-7.78%207.78l1.06%201.06L12%2021.23l7.78-7.78%201.06-1.06a5.5%205.5%200%200%200%200-7.78z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  }
  
  span.icon-unlike {
    background-image: url("data:image/svg+xml,%3Csvg%20class%3D%22feather%20feather-thumbs-down%20sc-dnqmqq%20jxshSx%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20aria-hidden%3D%22true%22%3E%3Cpath%20d%3D%22M10%2015v4a3%203%200%200%200%203%203l4-9V2H5.72a2%202%200%200%200-2%201.7l-1.38%209a2%202%200%200%200%202%202.3zm7-13h2.67A2.31%202.31%200%200%201%2022%204v7a2.31%202.31%200%200%201-2.33%202H17%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  }
  
  span.icon-share {
    background-image: url("data:image/svg+xml,%3Csvg%20class%3D%22feather%20feather-share-2%20sc-dnqmqq%20jxshSx%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20aria-hidden%3D%22true%22%3E%3Ccircle%20cx%3D%2218%22%20cy%3D%225%22%20r%3D%223%22%3E%3C%2Fcircle%3E%3Ccircle%20cx%3D%226%22%20cy%3D%2212%22%20r%3D%223%22%3E%3C%2Fcircle%3E%3Ccircle%20cx%3D%2218%22%20cy%3D%2219%22%20r%3D%223%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%228.59%22%20y1%3D%2213.51%22%20x2%3D%2215.42%22%20y2%3D%2217.49%22%3E%3C%2Fline%3E%3Cline%20x1%3D%2215.41%22%20y1%3D%226.51%22%20x2%3D%228.59%22%20y2%3D%2210.49%22%3E%3C%2Fline%3E%3C%2Fsvg%3E");
  }
  
  span.icon-flag {
    background-image: url("data:image/svg+xml,%3Csvg%20class%3D%22feather%20feather-flag%20sc-dnqmqq%20jxshSx%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20aria-hidden%3D%22true%22%20data-reactid%3D%22551%22%3E%3Cpath%20d%3D%22M4%2015s1-1%204-1%205%202%208%202%204-1%204-1V3s-1%201-4%201-5-2-8-2-4%201-4%201z%22%3E%3C%2Fpath%3E%3Cline%20x1%3D%224%22%20y1%3D%2222%22%20x2%3D%224%22%20y2%3D%2215%22%3E%3C%2Fline%3E%3C%2Fsvg%3E");
  }